*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(59, 56, 235);
}

.wrapper{
    width: 500px;
    background-color: #ffff;
    border-radius: 8px;
    padding: 20px 25px 15px;
}

header h1{
    font-size: 27px;
    font-weight: 500;
}

header p{
    font-size: 18px;
    margin-top: 5px;
}

form{
    margin: 20px 0 27px;
}

form input{
    width: 100%;
    height: 60px;
    outline: none;
    font-size: 20px;
    padding: 0 17px;
    border-radius: 5px;
    border: 1px solid #b3b2b2;
}

form button{
    opacity: 0.7;
    width: 100%;
    border: none;
    outline: none;
    color: #ffff;
    cursor: pointer;
    padding: 15px 0;
    margin-top: 20px;
    font-size: 17px;
    border-radius: 5px;
    background-color: #4285f4;
    pointer-events: none;
}

form input:valid ~ button{
    opacity: 1;
    pointer-events: auto;
}